.nav {
  &__list {
    display: flex;
    align-items: center;
    & > * {
      &:not(:last-child) {
        margin-right: 42px;
      }
    }
  }
  &__link {
    font-size: 15px;
    &--current {
      &::after {
        width: 100%;
      }
    }
  }
}
