.shop-banners {
  &__container {
    padding: 0;
  }
  &__list {
    display: flex;
    align-items: center;
    & > * {
      flex: 1 0 50%;
    }
  }
  &__item {
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(1) {
      @include cover("../img/banner1.jpg");
    }
    &:nth-child(2) {
      position: relative;
      @include cover("../img/banner2.jpg");
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($black, 0.1);
      }
    }
    & > * {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__title {
    position: relative;
    font-size: 48px;
    font-weight: 500;
    color: $white;
    z-index: 1;
  }
  &__link {
    position: relative;
    font-size: 15px;
    font-weight: 500;
    color: $white;
    z-index: 1;
    &::after {
      background-color: $white;
    }
  }
}
