section.s-hero
    .container.hero-container
        h1.visually-hidden Zonex best shop
        .hero__slider 
            .swiper-wrapper.hero__wrapper
                .swiper-slide.hero__item
                    h2.hero__title Fall-Winter Clearance Sales
                    p.hero__descr All Sale items Final Sale / Free Shipping on All Orders
                .swiper-slide.hero__item
                    h2.hero__title Fall-Winter Clearance Sales
                    p.hero__descr All Sale items Final Sale / Free Shipping on All Orders
                .swiper-slide.hero__item
                    h2.hero__title Fall-Winter Clearance Sales
                    p.hero__descr All Sale items Final Sale / Free Shipping on All Orders
            .hero__pagination
        .marketing
            img(src="static/img/coat.png", alt="Read coat").marketing__img
            .marketing__text
                span.marketing__descr Someone purchaed a
                h3.marketing__title Faux shearling double-breasted coat
                span.marketing__when-from 15 minutes ago London, Greate Britain
            button(aria-label="Close marketing block").btn-reset.marketing__close
                svg
                    use(xlink:href='static/img/svg/symbol/sprite.svg#close')