.s-banners {
  padding: 50px 0;
}
.banners {
  &__list {
    display: flex;
    align-items: center;
    & > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
  &__item {
    flex: 1 0 calc(33.333% - 10px);
  }
}

.banners-article {
  min-height: 290px;
  padding: 52px 0 60px 59px;
  background-color: #cfd1d0;
  & > * {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__title {
    max-width: 280px;
    font-size: 36px;
    line-height: 1.2;
  }
  &__link {
    font-size: 15px;
  }
  &--mid {
    @include cover("../img/banners-article1.jpg");
  }
  &--romance {
    @include cover("../img/banners-article2.jpg");
  }
  &--accessories {
    @include cover("../img/banners-article3.jpg");
  }
}
