extends ../main-layout

block variables
	- var title = 'Shop'
	- var pageClass = 'shop-page'

block content
	.wrapper
		include ../modules/header/header-main
		main.main
		include ../modules/footer/footer 