section.s-banners
    h2.visually-hidden Banners
    .container
        .banners
            ul.banners__list
                li.banners__item
                    article.banners__article.banners-article.banners-article--mid
                        h3.banners-article__title Women's<br> Mid-Season 
                        a(href="").main-link.banners-article__link Shop Now 
                li.banners__item
                    article.banners__article.banners-article.banners-article--romance
                        h3.banners-article__title Summer Romance 
                        a(href="").main-link.banners-article__link Shop Now 
                li.banners__item
                    article.banners__article.banners-article.banners-article--accessories
                        h3.banners-article__title 20% Off<br> All Accessories
                        a(href="").main-link.banners-article__link Shop Now 
                