section.shop-banners
    h2.visually-hidden Shop banners 
    .container.shop-banners__container 
        ul.shop-banners__list
            li.shop-banners__item
                h3.shop-banners__title Men’s Sportswear
                a.main-link.shop-banners__link(href="#") Read more

            li.shop-banners__item
                h3.shop-banners__title Find your fit
                a.main-link.shop-banners__link(href="#") Read more