article.product
    .product__header
        img.product__img(src="static/img/products/product4.jpg", alt="")
    .product__body
        .product__categories
            +icon("star-for-number-one", "product__icon")
            span.product__text Best seller
        h3.product__title
            a(href="#") Backpack with contrasting buckle 
        span.product__price $80.00 – $125.00