nav.nav.header__nav
    ul.nav__list
        li.nav__item
            a.main-link.nav__link(href="./index.html") Home 
        li.nav__item
            a.main-link.nav__link(href="./shop.html") Shop
        li.nav__item
            a.main-link.nav__link.nav__link--current Elements
        li.nav__item
            a.main-link.nav__link(href="") Blog
        li.nav__item
            a.main-link.nav__link(href="") Page